#stick
  text-shadow 0 0 1px #fff
  padding 1.5em 3em
#header
  h1
    font-size 2em
    font-weight bold
    margin 1em 0
    color #333
    a
      color #333
      &:hover 
        color #09f
  h2
    font-size 1em
    color #888

  #header-nav
    font-family font-title
    color #999
    ul
      list-style none
      margin 4em 0
      li
        line-height 1.8em
        a
          color #999
          padding 2px 0
          border-bottom 2px solid #eee
          &:hover
            border-color #666